.nazabanma-popover-container {
  transform-origin: top;
  animation: popover-container 200ms;

  >div {
    box-shadow: 0 2px 5px 0px #ccc;
  }
}

@keyframes popover-container {
  from {
    opacity: 0;
    transform: translateY(-20%)
  }
  to {
    opacity: 1;
    transform: translateY(0%)
  }
}