@import '../globals.module.scss';

header,
footer {
  box-shadow: 0 0 5px 0 #ccc;
}

* {
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    width: 7px;
    background-image: linear-gradient(to top,$color1,$color2);
  }
}