.toolbar-menu-options {
  box-shadow: 0 0 5px 0 #ccc;
  overflow: hidden;
  animation: toolbar-menu-open 0.2s;

  li {
    transition: all 0.2s;
    &:hover {
      background-color: #f0f0f0;
    }
  }
}

@keyframes toolbar-menu-open {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);

  }
}