.modal-container {
  transition: all 0.5s;
  animation: modal-container-open 300ms ease-in forwards;
}

.modal-normal {
  animation: modal-open 300ms ease-in forwards;
}

.modal-closing {
  animation: modal-close 300ms ease-in forwards;
}

@keyframes modal-container-open {
  0% {
    opacity: 0;
  };
  100% {
    opacity: 1;
  }
}

@keyframes modal-open {
  0% {
    opacity: 0;
    transform: scale(0)
  };
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modal-close {
  0% {
    opacity: 1;
    transform: scale(1);
  };
  30% {
    opacity: 1;
    transform: scale(1.2);
  };
  100% {
    opacity: 0;
    transform: scale(0);
  }
}