@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  svg {
      display: inline;
      vertical-align: baseline;
  }
}

@layer base {
  h1 {
      @apply text-2xl;
  }
  h2 {
      @apply text-xl;
  }
  h3 {
      @apply text-lg;
  }
  h4 {
      @apply text-base;
  }
  h5 {
      @apply text-sm;
  }
  h6 {
      @apply text-xs;
  }
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: priFont;
}

li {
  list-style: none;
}

a {
  font-style: normal;
}


