.ant-table-wrapper {
  height: 100%;
  .ant-spin-nested-loading {
    height: 100%;
  }
  .ant-table-wrapper {
    height: 100%;
  }

  .ant-spin-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .ant-table {
      height: 100%;
      flex: 1;
      .ant-table-container {
        height: 100%;
        display: flex;
        flex-direction: column;

        .ant-table-body {
          flex: 1;
        }
      }
    }
  }


}